* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495e;
    color: #ecf0f1;
}

.color__preview {
    width: 50rem;
    height: 25rem;
    background-color: transparent;
    margin-bottom: 4rem;
    border: 1px solid white;
}

h1 {
    margin-bottom: 4rem;
    font-size: 4rem;
}

p {
    font-size: 3.5rem;
}

.btn {
    padding: 2.5rem;
    width: 20rem;
    border: 3px solid white;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #ecf0f1;
    font-size: 2rem;
    margin-top: 3.5rem;
    border-radius: .5rem;
}

.btn:hover {
    background-color: #ecf0f1;
    color: #34495e;
    transition: all .3s ease;
}
